{% extends 'status/base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'status/style.css' %}">
{% endblock css %}
{% block content %}
<nav class="navbar navbar-light bg-light px-5">
    <a class="navbar-brand" href="{% url 'status:index' %}">
        <img src="{% static 'status/images/chat.svg' %}" width="30" height="30" class="d-inline-block align-top mr-2"
            alt="">
        People Story
    </a>
</nav>
<div class="d-flex flex-column pt-5 align-items-center container wrapper">
    <div class="col-md-8">

        <form action=" {% url 'status:add_status' %}" method="POST">
        {% csrf_token %}
        <div class="d-none">
            {{ form }}
        </div>
        <div class="card">
            <div class="card-header">
              Confirmation
            </div>
            <div class="card-body">
              <h5 class="card-title">Hi, {{ name }}</h5>
              <p class="card-text">Are you sure to post this status?</p>
              <h4 class="text-info text-center my-3"><span>&#x201c</span> {{ status }} <span>&#x201d</span></h4>
              <div class="d-flex justify-content-end">
                <a href="{% url 'status:index' %}" class="btn btn-secondary mr-2">No</a>
                <button class="btn btn-success mr-2" type="submit">Yes</button>
              </div>
            </div>
          </div>
        </form>
    </div>
</div>

{% endblock content %}