{% extends 'status/base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'status/style.css' %}">
{% endblock css %}
{% block content %}

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form action="{% url 'status:confirmation' %}" method="POST">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {% csrf_token %}
                    <label>Name:</label>
                    {{ form.name }}
                    <label>Status:</label>
                    {{ form.status }}
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success">Post</button>
                </div>
            </form>
        </div>
    </div>
</div>
<nav class="navbar navbar-light bg-light px-5">
    <a class="navbar-brand" href="{% url 'status:index' %}">
        <img src="{% static 'status/images/chat.svg' %}" width="30" height="30" class="d-inline-block align-top mr-2"
            alt="">
        People Story
    </a>
    <button class="btn btn-outline-success my-2 my-sm-0" data-toggle="modal" data-target="#exampleModal">Add
        Story</button>
</nav>

<div class="d-flex flex-column {% if status|length == 0 %} justify-content-center {% else %} justify-content-start pt-5 {% endif %} align-items-center container wrapper pb-5">
    {% if status|length == 0 %}
    <div class="nodata d-flex flex-column align-items-center">
        <img src="{% static 'status/images/speech.svg' %}" width="60" height="60">
        <h2 class="mt-3">Be The First to share story here</h2>    
    </div>
    {% else %}
    {% for item in status %}
    <div class="col-md-9 border rounded-lg p-4 m-1" style="background-color: {{ item.color }};">
        <h3>{{ item.name }}</h3>
        <hr>
        <p>{{ item.status }}</p> 
        <a class="btn btn-info" href="{% url 'status:change_color' item.id %}">Change Color</a> 
    </div>
    {% endfor %}
    {% endif %}
</div>
{% endblock content %}